#map {
    height: 550px;
    width: 550px;
    margin: 10px 0 10px 0;
}

.margin-top {
    margin: 5px;
}

.textcenter {
    text-align: center;
}

header {
    padding: 10px 0 0 0;

    background: skyblue;
}

@media screen and (max-width: 980px) {
    #map {
        height: 480px;
        width: 480px;
        margin: 10px 0 10px 0;
    }
}
@media screen and (max-width: 768px) {

    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    #map {
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width: 575px) {
    #map {
        height: 500px;
        width: 500px;
    }

}

@media screen and (max-width: 480px) {
    #map {
        height: 375px;
        width: 370px;
    }

}